<div class="footer">
  <div class="section company">
    <img class="apollo" src="/img/logo/apollo.svg" />
    <img class="meteor" src="/img/logo/meteor.svg" />
    <div>
      © 2017 Meteor Development Group Inc.
    </div>
    <div class="description">
      We are a small and talented team, spread across the globe, that is dedicated to helping developers build
      great apps. All of us are passionate about making software development easier, better, and more accessible
      to more people.
    </div>
  </div>
  <div class="section">
    <div class="title">Company</div>
    <div><a>Jobs</a></div>
    <div><a>Culture</a></div>
    <div><a>Team</a></div>
    <div><a>Policies</a></div>
    <div><a class="icon icon-facebook"></a><a class="icon icon-twitter"></a><a class="icon icon-email"></a></div>
  </div>
  <div class="section">
    <div class="title">Apollo</div>
    <div><a>Home</a></div>
    <div><a>Optics</a></div>
    <div><a>Developer Blog</a></div>
    <div><a>Commercial Blog</a></div>
    <div><a class="icon icon-github"></a><a class="icon icon-twitter"></a><a class="icon icon-youtube"></a></div>
  </div>
  <div class="section">
    <div class="title">Meteor</div>
    <div><a>Home</a></div>
    <div><a>Galaxy</a></div>
    <div><a>Blog</a></div>
    <div><a>Forum</a></div>
    <div><a class="icon icon-github"></a><a class="icon icon-twitter"></a><a class="icon icon-youtube"></a></div>
  </div>
</div>
