<div class="footer">
  <div class="element main">
    <img class="apollo" src="/img/logo/apollo-white.svg" />
    <img class="meteor" src="/img/logo/meteor-white.svg" />
    <div>
      © 2017 Meteor Development Group Inc.
    </div>
    <div class="description">
      We are a small and talented team, spread across the globe, that is dedicated to helping developers build
      great apps. All of us are passionate about making software development easier, better, and more accessible
      to more people.
    </div>
  </div>
  <div class="element company">
    <div class="title">Company</div>
    <div><a target="_blank" href="/jobs">Jobs</a></div>
    <div><a target="_blank" href="/culture">Culture</a></div>
    <div><a target="_blank" href="/team">Team</a></div>
    <div><a target="_blank" href="https://www.meteor.com/policy">Policies</a></div>
    <div>
      <a target="_blank" class="icon icon-facebook" href="https://www.facebook.com/meteorjs/"></a>
    </div>
  </div>
  <div class="element apollo">
    <div class="title">Apollo</div>
    <div><a target="_blank" href="http://www.apollodata.com/">Home</a></div>
    <div><a target="_blank" href="https://optics.apollodata.com/">Optics</a></div>
    <div><a target="_blank" href="https://dev-blog.apollodata.com/">Developer Blog</a></div>
    <div><a target="_blank" href="https://blog.apollodata.com/">Commercial Blog</a></div>
    <div>
      <a target="_blank" class="icon icon-github" href="https://github.com/apollographql"></a>
      <a target="_blank" class="icon icon-twitter" href="https://twitter.com/apollographql"></a>
      <a target="_blank" class="icon icon-youtube" href="https://www.youtube.com/channel/UC0pEW_GOrMJ23l8QcrGdKSw"></a>
    </div>
  </div>
  <div class="element meteor">
    <div class="title">Meteor</div>
    <div><a target="_blank" href="https://www.meteor.com/">Home</a></div>
    <div><a target="_blank" href="https://galaxy.meteor.com/">Galaxy</a></div>
    <div><a target="_blank" href="https://blog.meteor.com/">Blog</a></div>
    <div><a target="_blank" href="https://forums.meteor.com/">Forum</a></div>
    <div>
      <a target="_blank" class="icon icon-github" href="https://github.com/meteor/meteor"></a>
      <a target="_blank" class="icon icon-twitter" href="https://twitter.com/meteorjs"></a>
      <a target="_blank" class="icon icon-youtube" href="https://www.youtube.com/user/MeteorVideos"></a>
    </div>
  </div>
</div>
