<div id="navbar" class="navbar {{page}}">
  <a class="logo" href="/">Meteor Development Group</a>
  <a class="link right team" href="/team">Team</a>
  <a class="link right culture" href="/culture">Culture</a>
  <a class="link right jobs" href="/jobs">Jobs</a>
</div>

<script>
  window.addEventListener('scroll', () => {
    var top = (window.pageYOffset || document.documentElement.scrollTop)  - (document.documentElement.clientTop || 0);
    document.getElementById('navbar').className = `navbar {{page}} ${!!top ? ' scrolled' : ''}`;
  });
</script>
