@color-accent-coolest: #e2dff3;
@color-accent-cooler: #dfecf2;
@color-accent-cool: #def2e9;
@color-accent-warm: #e5f2de;
@color-accent-warmer: #f2efde;
@color-accent-warmest: #f2dfdf;

@color-accent: #e04e4b;
@color-darkest: rgb(68, 68, 68);
