@import "./colors.import.less";

.pagetitle {
  margin-top: 100px;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 100px;
  z-index: 10;
  transition: all 300ms ease-out;
  border-bottom: 1px solid #eee;

  a {
    color: @color-darkest;
    cursor: pointer;
  }

  &:not(.jobs):not(.culture):not(.team):not(.interns):not(.intern):not(.scrolled) {
    border-bottom: none;

    a {
      color: #fff;

      &:hover {
        color: @color-apollo;

        &:after {
          height: 0;
        }
      }
    }
  }

  &.team .team,
  &.culture .culture,
  &.interns .interns,
  &.jobs .jobs,
  a.link:hover {
    position: relative;
    color: @color-apollo;
    transition: all 300ms ease-out;

    &:after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: @color-apollo;
      bottom: -1px;
      width: 100%;
      left: 0;
    }
  }

  a.link {
    transition: all 300ms ease-out;
  }

  &.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 300ms ease-out;
  }

  > * {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
  }

  a.logo {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;

    &:after {
      content: "Meteor Development Group";
    }
  }

  .link.right {
    float: right;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.25rem;

    &:first-of-type {
      margin-right: -20px;
    }
  }
}

@media (max-width: 700px) {
  .navbar {
    padding: 0 20px !important;

    a.logo:after {
      content: "MDG";
    }

    .link.right {
      padding: 0 0 0 15px;
    }
  }
}
